<h1>Reactive Forms</h1>
<form [formGroup]="loginForm" (ngSubmit)="collectdata()">
  <div>
    <label>Email Id</label><br>
    <input type="email" formControlName="email" placeholder="Email"><br>
    <label>Password</label><br>
    <input type="password" formControlName="password" placeholder="Password"><br>
    <div formGroupName="address">
      <h4>Address:</h4>
      <label for="street">Street: </label>
      <input id="street" type="text" formControlName="street"><br>

      <label for="city">City: </label>
      <input id="city" type="text" formControlName="city"><br>

      <label for="state">State: </label>
      <input id="state" type="text" formControlName="state"><br>

      <label for="zip">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip"><br>
    </div>
  </div>

  <div>
    <h3>Course Selection</h3>
    <input type="radio" formControlName="fav_language" name="fav_language" value="HTML">
    <label>HTML</label><br>
    <input type="radio" formControlName="fav_language" name="fav_language" value="CSS">
    <label>CSS</label><br>
    <input type="radio" formControlName="fav_language" name="fav_language" value="JavaScript">
    <label>JavaScript</label>
  </div>

  <div>
    <h3>Choose Favorite Items</h3>
    <input type="checkbox" formControlName="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bike</label><br>
    <input type="checkbox" formControlName="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" formControlName="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> I have a boat</label>
  </div>
  <br>
  <div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>

</form>
